<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="username" value="USER" />
    <add key="password" value="PASSWORD" />
    <add key="priaid_healthservice_url" value="https://healthservice.priaid.ch" />
    <add key="priaid_authservice_url" value="https://authservice.priaid.ch/login" />
    <add key="language" value="en-gb" />
  </appSettings>
</configuration>